<div class="card">
  <div class="card-header">
    Hello
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Find The Details</h5>

    <p class="card-text">
      <%= @friend.email %> | 
      <%= @friend.phone %> |
      <%= @friend.twitter %>
    </p>
    <br/>
    <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-primary" %> 
    <%= link_to 'Back', friends_path,class:"btn btn-primary" %>
    <br/>
</div>


